.container {
    display: flex;
    flex-direction: column;
}

.input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;

    &:focus {
        border: 1px solid #555;
    }
}
